# Dead End

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
import os


drought_df = pd.read_csv("Resources/dm_export_20000101_20230205 (1).csv")
wildfire_df = pd.read_csv("Resources/attempt2_wildfire.csv")

In [5]:
wildfire_df.head()

wildfire_df["Map Date"].dtype()

,Unnamed: 0,Acres Burned,Latitude,Longitude,Incident Start,County,Cause Type,Map Date
0,0,407.0,36.602575,-118.016510,2013-02-24T08:16:00Z,Inyo,NaN,2013-02-24
1,1,30.0,34.288877,-116.941311,2013-04-20T17:30:00Z,San Bernardino,NaN,2013-04-20
2,2,274.0,37.116295,-119.635004,2013-04-30T12:59:00Z,Madera,NaN,2013-04-30
3,3,6896.0,40.190062,-121.595555,2013-05-01T09:12:00Z,Tehama,NaN,2013-05-01
4,4,75.0,38.441792,-122.350844,2013-04-30T23:44:00Z,Napa,NaN,2013-04-30

In [13]:
wildfire_df["Map Date"].dtype

dtype('O')

In [9]:


d = {'Map Date': drought_df['MapDate'],
     'Drought Level': drought_df['USDMLevel'],
     'Drought Level Number': drought_df['USDMLevelID'],
     'Population Current': drought_df['PopulationCurrent'],
     'Population Current %': drought_df['PopulationCurrentPercent'],
     'Area Current': drought_df['AreaCurrent'],
     'Area Current %': drought_df['AreaCurrentPercent'],
     'Area Miles': drought_df['AreaMiles'],
     }
cleaned_df = pd.DataFrame(data = d, index = None)
cleaned_df

,Map Date,Drought Level,Drought Level Number,Population Current,Population Current %,Area Current,Area Current %,Area Miles
0,2000-01-04,D0,1,"28,130,516.06",75.51,"76,187.59",48.17,"158,147.87"
1,2000-01-11,D0,1,"31,598,388.02",84.82,"129,289.05",81.75,"158,147.87"
2,2000-01-18,D0,1,"28,689,915.36",77.01,"113,921.84",72.04,"158,147.87"
3,2000-01-25,D0,1,"24,683,436.34",66.26,"88,511.14",55.97,"158,147.87"
4,2000-02-01,D0,1,"24,031,764.14",64.51,"80,468.74",50.88,"158,147.87"
...,...,...,...,...,...,...,...,...
3765,2023-01-24,D1,2,"28,521,258.43",76.56,"90,130.59",56.99,"158,147.87"
3766,2023-01-24,D2,3,"5,615,370.55",15.07,"51,509.75",32.57,"158,147.87"
3767,2023-01-31,D0,1,"3,090,885.86",8.30,"15,494.80",9.80,"158,147.87"
3768,2023-01-31,D1,2,"28,521,258.43",76.56,"90,130.59",56.99,"158,147.87"
3769,2023-01-31,D2,3,"5,615,370.55",15.07,"51,509.75",32.57,"158,147.87"

In [14]:
cleaned_df["Map Date"].dtype

dtype('O')

In [11]:
combined_df = pd.merge(drought_df, wildfire_df, on=["Map Date"], how="outer")

KeyError: 'Map Date'